{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form_add">
        <h1>Modifier le congé</h1>
        {{ form_start(form) }}
            {{ form_row(form.startDate, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'form-label'}
        }) }}
        {{ form_row(form.endDate, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'form-label'}
        }) }}
        {{ form_row(form.category, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'form-label'}
        }) }}
        {{ form_row(form.status, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'form-label'}
        }) }}
            <button class="btn-primary" type="submit">Modifier le congé</button>
        {{ form_end(form) }}
        </div>
{% endblock %}
